*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
transition:200ms;
}
header{
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:linear-gradient(45deg,rgb(50,100,255)0%,rgb(0,70,255)100%);
}
header *{
    color:white;
    text-decoration:none;
    padding:0px 10px;
}
header h2:hover{
    color:rgba(0,0,0,0.7);
    font-weight:bold;
}
header a:hover{
    color:rgba(0,0,0,0.7);
    font-weight:bold;
}
main{
    width:90%;
    margin:10px auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
main h1{
    margin-top:80px;
    margin-left:30px;
    color:rgb(50,100,255);
    font-size:3.4em;
}
main .sup p{
    margin-top:20px;
    margin-left:30px;
    font-size:2em;
}
main .end p{
    margin-top:20px;
    margin-left:50px;
}
main .end p a{
    color:white;
    padding:8px 10px;
    margin-left:10px;
    border-radius:4px;
    background-color:rgb(0,70,255);
}
main .end p a:hover{
    color:black;
    background-color:rgb(0,200,255);
}
.flex{
    width:50vw
}
img{
    display:flex;
    margin-top:20px;
    width:30vw;
    height:30vw;
}